$primary: #d8a28c;

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: $primary;
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #e1dad2;
    outline: none;
    background-color: rgba(25, 74, 80, 1);
}

.calculator-grid > button:hover{
    background-color: rgba(25, 74, 80, .7);
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: #0c2431;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: #c7c5c3;
    font-size: 1rem;
}

.output .current-operand{
    color:  #e1dad2;
    font-size: 2.5rem;
}